@model Project.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="color:gray; text-decoration:underline;">Edit</a> |
    <a asp-action="Index" style="color:gray; text-decoration:underline;">Back to List</a>
</div>
