@model Tuple<Customer, UserLogin>

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Edit My Profile</h4>
<hr />

<div class="row">
    <div class="col-md-4">
<form asp-controller="UserLogins" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Item2.Id" name="id" />
            <div class="form-group">
                <label asp-for="@Model.Item2.UserName" class="control-label"></label>
                <input asp-for="@Model.Item2.UserName" name="UserName" class="form-control" />
                <span asp-validation-for="@Model.Item2.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item2.Password" class="control-label"></label>
                <input asp-for="@Model.Item2.Password" name="Password" type="password" class="form-control" />
                <span asp-validation-for="@Model.Item2.Password" class="text-danger"></span>
            </div>
    
                 <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-secondary" />
                </div>

</form>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Customers" asp-action="ChangeName" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Item1.Id" name="id" />
            <div class="form-group">
                <label asp-for="@Model.Item1.Fname" class="control-label"></label>
                <input asp-for="@Model.Item1.Fname" name="Fname" class="form-control" />
                <span asp-validation-for="@Model.Item1.Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.Lname" class="control-label"></label>
                <input asp-for="@Model.Item1.Lname" name="Lname" class="form-control" />
                <span asp-validation-for="@Model.Item1.Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Customers" asp-action="ChangePhoto" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Item1.Id" name="id"/>
            <div class="form-group">
                <label asp-for="@Model.Item1.ImageFile" class="control-label"></label>
                <input asp-for="@Model.Item1.ImageFile" type="file" name="ImageFile" class="form-control" />
                <span asp-validation-for="@Model.Item1.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" style="color:gray; text-decoration:underline;">Back to List</a>
</div>


